.bio-text {
    color: hsl(0, 0%, 100%);
}

.section-subheading {
    color: hsl(0, 0%, 100%); /* Sets the text color to white */
}

.list-disc {
    color: hsl(0, 0%, 100%); /* Sets the text color to white */
}

.flex {
    max-width: 100%; /* Allow the container to take more space */
    width: auto;     /* Adjust width constraints */

.flex-shrink-0 {
    color: hsl(0, 0%, 100%); /* Sets the text color to white */
}

.description {
    color: hsl(0, 0%, 100%); /* Sets the text color to white */
}