.bio-text {
    color: hsl(0, 0%, 100%);
}

.section-subheading {
    color: hsl(0, 0%, 100%); /* Sets the text color to white */
}

.list-disc {
    color: hsl(0, 0%, 100%); /* Sets the text color to white */
}

.course{
    white-space: nowrap;
}

.flex-shrink-0 {
    color: hsl(0, 0%, 100%); /* Sets the text color to white */
}

.description {
    color: hsl(0, 0%, 100%); /* Sets the text color to white */
}
