.bio-text {
    color: hsl(0, 0%, 100%);
    font-weight: bold;
    
}

.section-subheading {
    color: hsl(0, 0%, 100%); /* Sets the text color to white */
}

.list-disc {
    color: hsl(0, 0%, 100%); /* Sets the text color to white */
}